@font-face {
  font-family: "nfl";
  src: url("../fonts/freshman-webfont.woff2") format("woff2"),
    url("../fonts/freshman-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

div.body {
  display: flex;
  flex-direction: column;
  font-family: "nfl", sans-serif;
}
